
<mat-card id="detail-card" *ngIf="!editmode" (click)="changeMode()">
  <mat-icon style="position: absolute; top: 15px; right: 15px;" id="edit">mode_edit</mat-icon>
  <mat-list>
   <mat-list-item>{{contactDetail.first_name}}</mat-list-item>
   <mat-list-item>{{contactDetail.last_name}}</mat-list-item>
   <mat-list-item>{{contactDetail.email}}</mat-list-item>
   <mat-list-item>{{contactDetail.phone}}</mat-list-item>
  </mat-list>
</mat-card>

<mat-card id="update-card" *ngIf="editmode">
  <mat-icon style="position: absolute; top: 15px; right: 15px;" id="close_edit" (click)="changeMode()">close</mat-icon>

  <form fxLayout="column"
        fxLayoutAlign="flex-start flex-start"
        style="font-size: .8em;"
        [formGroup]="editForm"
        (ngSubmit) = "onSubmit()">
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="first_name"
        placeholder="First Name"
        name="first_name">
        <mat-hint *ngIf="!editForm.get('first_name').valid && editForm.get('first_name').touched">Please enter a first name.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="last_name"
        placeholder="Last Name"
        name="last_name">
        <mat-hint *ngIf="!editForm.get('last_name').valid && editForm.get('last_name').touched">Please enter a last name.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Email"
        name="email">
        <mat-hint *ngIf="!editForm.get('email').valid && editForm.get('email').touched">Please enter valid email address.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="organization"
        placeholder="Organization"
        name="organization">
        <!-- <mat-hint>Organization must exist</mat-hint> -->
    </mat-form-field>

    <mat-form-field>
      <input
        type="tel"
        matInput
        formControlName="phone"
        placeholder="Phone Number"
        name="phone">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Update</button>
  </form>



</mat-card>
