<mat-sidenav-container>
  <mat-sidenav id="drawer" #sidenav [mode]="mode.value" position="end" [ngSwitch]="drawerApp">
  <!-- START: Dynamic Drawer Content -->

    <app-contact-form-new *ngSwitchCase="'new_contact'"></app-contact-form-new>
    <app-contact-detail *ngSwitchCase="'contact_detail'"></app-contact-detail>
    <app-organization-form-new *ngSwitchCase="'new_org'"></app-organization-form-new>
    <app-program-form-new *ngSwitchCase="'new_program'"></app-program-form-new>



  <!-- END: Dynamic Drawer Content -->
  </mat-sidenav>
  <mat-sidenav-content>
  <!-- START: Static non-drawer -->
      <section class="page-container" fxLayout="column" fxLayoutAlign="start">
        <header>
          <app-header></app-header>
        </header>
        <mat-sidenav-container fxLayout="row" fxFlex="grow" fxLayoutAlign="stretch" >
          <mat-sidenav mode="side" opened="true" class="mat-elevation-z4">
            <app-sidebar></app-sidebar>
          </mat-sidenav>

          <mat-sidenav-content fxFlex="grow">
              <router-outlet></router-outlet>
              <app-nav-bottom></app-nav-bottom>
          </mat-sidenav-content>
        </mat-sidenav-container>

      </section>

  <!-- END: Static non-drawer -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- finish -->
