.page-container {
  min-height: 100vh;
}

mat-sidenav{width: 120px;}
.dashed{border: 1px dashed black;}




.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
