.page-container {
  min-height: 100vh;
}

#drawer{
  min-width: 40%;
  padding: 25px;}
.dashed{border: 1px dashed black;}


app-nav-bottom{
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
