<div style="padding: 10px;">

  <div fxLayout="row">
    <input
           type="text"
           [(ngModel)]="filteredString"
           style="margin-bottom: 10px; height: 20px; width: 150px;"
           placeholder="Search Anything">
      <span fxFlex class="example-spacer"></span>
     <button fxFlex="150px" mat-button (click)="getContacts();">Retrieve</button>
  </div>


  <table *ngIf="contacts">
    <tr style="text-align: left;">
      <th>Name</th>
      <th>Organization(s)</th>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
    <tr *ngFor="let item of contacts | contactFilter:filteredString">
      <td>{{item.first_name}} {{item.last_name}}</td>
      <td>{{item.organization}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
    </tr>
  </table>

<!-- {{data | async}} -->
<section style="margin-top: 10px;">
  <button mat-raised-button color="primary" routerLink="create">New</button>
</section>

<section style="margin-top: 10px;">
  <router-outlet></router-outlet>
</section>

</div>
