<div style="padding: 10px;">

 <input type="text"
        [(ngModel)]="filteredString"
        style="margin-bottom: 10px; height: 20px; width: 150px;"
        placeholder="Search Anything">

  <table *ngIf="data">
    <tr style="text-align: left;">
      <th>Name</th>
      <th>Organization(s)</th>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>
    <tr *ngFor="let item of data.contacts | contactFilter:filteredString">
      <td>{{item.first_name}} {{item.last_name}}</td>
      <td>{{item.organization}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
    </tr>
  </table>

<!-- {{data | async}} -->



</div>
